%% Directories
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.

%% Lager transform
{erl_opts, [{parse_transform, lager_transform}]}.

%% Dependencies
{deps, [
    % {misultin,   ".*", {git, "git://github.com/ostinelli/misultin",       {branch, "master"}}},
    % {json,       ".*", {git, "git://github.com/davisp/eep0018",           {branch, "master"}}},
    % {webmachine, ".*", {git, "git://github.com/basho/webmachine",         {branch, "master"}}},
    % {riakc,      ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}}
    {lager,        ".*", {git, "git://github.com/basho/lager",              {branch, "master"}}},
    {pooler,       ".*", {git, "git://github.com/seth/pooler",              {tag   , "1.3.3" }}},
    {gun  ,       ".*", {git, "http://github.com/extend/gun",               {branch, "master"}}},   
    {sync  ,       ".*", {git, "http://github.com/rustyio/sync",            {branch, "master"}}},
    {shotgun,      ".*", {git, "https://github.com/inaka/shotgun",          {tag   , "0.1.6" }}}

]}.

